:root {

}

body {
    background-color: blanchedalmond;
    color:
}

.position {
    background-color: antiquewhite;
    color: rgb(19, 18, 16);

}


#static {

}

#relative {

}

#fixed {

}

#absolute {

}

#sticky {
    
}